In [8]:
import pandas as pd
import csv
import numpy as np

In [53]:
first_data = pd.read_csv('2005_Street_Tree_Census.csv')
second_data = pd.read_csv('2015_Street_Tree_Census.csv')

/Users/kateharwood/opt/miniconda3/envs/climate/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [55]:
first_data

,OBJECTID,cen_year,tree_dbh,address,tree_loc,pit_type,soil_lvl,status,spc_latin,spc_common,...,state,latitude,longitude,x_sp,y_sp,objectid_1,census tract,bin,bbl,Location 1
0,592373,2005,6,1139 57 STREET,Front,Sidewalk Pit,Level,Good,PYRUS CALLERYANA,"PEAR, CALLERY",...,New York,40.632653,-74.000245,984182,169769,0,216.0,3140038.0,3.056890e+09,"(40.63265321, -74.00024499)"
1,592374,2005,6,2220 BERGEN AVENUE,Across,Sidewalk Pit,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,...,New York,40.620084,-73.901453,1011608,165205,1,706.0,3238037.0,3.084440e+09,"(40.62008375, -73.9014528)"
2,592375,2005,13,2360 BERGEN AVENUE,Front,Continuous Pit,Level,Good,ACER PLATANOIDES CRIMSON KING,"MAPLE, NORWAY-CR KNG",...,New York,40.617996,-73.899111,1012259,164445,2,706.0,3238299.0,3.084530e+09,"(40.61799567, -73.89911096)"
3,592376,2005,13,2254 BERGEN AVENUE,Across,Sidewalk Pit,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,...,New York,40.619694,-73.901003,1011733,165063,3,706.0,3238045.0,3.084440e+09,"(40.6196936, -73.90100311)"
4,592377,2005,15,2332 BERGEN AVENUE,Across,Sidewalk Pit,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,...,New York,40.618323,-73.899467,1012160,164564,4,706.0,3238294.0,3.084530e+09,"(40.61832261, -73.89946707)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592367,1184740,2005,9,62 LEWISTON STREET,Front,Lawn,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,...,New York,40.586260,-74.148797,942921,152902,592367,27704.0,5037776.0,5.023710e+09,"(40.58626041, -74.14879727)"
592368,1184741,2005,7,68 LEWISTON STREET,Front,Lawn,Level,Good,ACER SACCHARINUM,"MAPLE, SILVER",...,New York,40.586090,-74.149013,942861,152840,592368,27704.0,5037778.0,5.023710e+09,"(40.58608995, -74.14901291)"
592369,1184742,2005,5,69 TRAVIS AVENUE,Side,Lawn,Level,Good,ACER PLATANOIDES CRIMSON KING,"MAPLE, NORWAY-CR KNG",...,New York,40.585802,-74.149156,942821,152735,592369,27704.0,5037737.0,5.023710e+09,"(40.58580156, -74.14915628)"
592370,1184743,2005,9,69 TRAVIS AVENUE,Side,Lawn,Level,Good,ACER PLATANOIDES CRIMSON KING,"MAPLE, NORWAY-CR KNG",...,New York,40.585802,-74.149156,942821,152735,592370,27704.0,5037737.0,5.023710e+09,"(40.58580156, -74.14915628)"
592371,1184744,2005,2,69 TRAVIS AVENUE,Side,Lawn,Level,Good,ACER PLATANOIDES CRIMSON KING,"MAPLE, NORWAY-CR KNG",...,New York,40.585802,-74.149156,942821,152735,592371,27704.0,5037737.0,5.023710e+09,"(40.58580156, -74.14915628)"

In [51]:
# Group trees into geospatial segments by lat and long
step = 0.00000001 # This should be about 1/4-1/2 a city block 
to_bin = lambda x: np.floor(x / step) * step
first_data["latBin"] = to_bin(first_data.latitude)
first_data["lonBin"] = to_bin(first_data.longitude)
groups = first_data.groupby(["latBin", "lonBin"])

In [52]:
groups.size().sort_values().value_counts()
# groups.ngroup(ascending=False)+1

1       154448
2        49446
3        23575
4        15112
5         8677
         ...
71           1
54           1
66           1
64           1
8840         1
Length: 80, dtype: int64